#name: CI/CD prj3 to AWS S3
#
#on:
#  push:
#    branches:
#      - master
#  pull_request:
#    branches:
#      - master
#
#jobs:
#  deploy:
#    runs-on: ubuntu-latest
#    steps:
#      - name: 코드 체크아웃
#        uses: actions/checkout@v3
#
#      - name: AWS IAM 사용자 설정
#        uses: aws-actions/configure-aws-credentials@v2
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-northeast-2
#      - name: 리액트 빌드할땐 꼭 환경변수 끄고 빌드해야함
#        run: |
#          npm install
#          CI='false' npm run build
#
#      - name: 빌드한 파일 S3에 업로드
#        run: aws s3 sync build/ s3://study999888777 --acl public-read
#        env:
#          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#      - name: CloudFront 캐시 무력화 설정
#        uses: chetan/invalidate-cloudfront-action@v2
#        env:
#          DISTRIBUTION: ${{ secrets.AWS_CLOUDFRONT_ID }}
#          PATHS: "/*"
#          AWS_REGION: ap-northeast-2
#          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#    environment: AWS_ACCESS_KEY_ID